body {
	margin: 0px;
	padding: 0px;
}

.grouplink {
	background-color: #dedede;
	width: 60;
	height: 30;
	padding-left: 10px;
	padding-top: 35px;
	border-top: 2px solid blue;
}

.grouplink:hover {
	background-color: red;
	cursor: pointer;
}